@font-face {
    font-family: 'MF YueHei (Noncommercial)';
    src: url('../../resource/fonts/cashbus.otf');
    font-weight: normal;
    font-style: normal;
}

* {
    margin: 0 auto;
    padding: 0;
    border: 0 none;
    box-sizing: border-box;
    font-family: 'MF YueHei (Noncommercial)';
    outline: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

body {
    background-image: linear-gradient(rgb(255, 255, 255) 0px, rgb(205, 242, 222) 100%);
    max-width: 1024px;
}

.header,
.content,
.footer {
    text-align: center;
}

.hide{
    display: none;
}
