<html>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" /> 
<header>
    <link rel="stylesheet" type="text/css" href="../../../css/main.css">
    <link rel="stylesheet" type="text/css" ng-href="{{ themeUrl }}"> 
    <!-- <link rel="stylesheet" type="text/css" href="../../../../lib/bootstrap-3.3.5-dist/css/bootstrap.css"> --!>
</header>

<body ng-app="question" ng-controller="questionController">
    <div class='header'>
        <img ng-src="{{ logUrl }}">
        <p>{{ logDesc }}</p>
    </div>
    <div class='questionsWrapper'>
        <div ng-repeat='question in questions' class='questionWrapper'>
            <div class='questionTitle'>
                <p>{{ question.title }}</p>
                <p>{{ question.warningMessage }}</p>
            </div>
            <div class='grid'>
                <div ng-repeat='option in question.options' class="module desktop-2 tablet-4 cellPhone-6" ng-if='option.img !== undefined'
                    ng-click='onSelectOption($event, question, option)' ng-class='{"selectedOption": option.isSelected === true}'}>
                    <img ng-src="{{ option.img }}">
                    <p class='answerDesc'>{{ option.title}}</p>
                </div>
                <div ng-repeat='option in question.options' class="module desktop-3 tablet-6" ng-if='option.img === undefined' ng-click='onSelectOption($event, question, option)' ng-class='{"selectedOption": option.isSelected === true}'>
                    <p class='answerDesc'>{{ option.title}}</p>
                </div>
            </div>
        </div>
    <div>
        <button id='button-prev' href="#" class="btn button-prev" ng-click='onPrevQuestion()'>Prev</button>
        <button id='button-next' href="#" class="btn button-next" ng-click='onNextQuestion()'>Next</button>
    </div>
    <div class='footer'>
        <div class="progress-wrap progress">
            <div class="progress-bar progress" ng-style=" { 'width' : currentProgress }"></div>
        </div> 
    </div>
</body>
</html>
<script src="../../../../lib/angular.js"></script>
<script src="../../../../lib/jquery/jquery-2.1.3.js"></script>
<script src="questionController.js"></script>
